.overflow-hidden { 
    overflow: hidden;
}

.e31_147 { 
    background-color: rgba(255, 255, 255, 1);
    width: 100%; 
    height: 100vh; 
    position: relative;
}

.e31_148 { 
    background-color: rgba(53, 103, 232, 1);
    width: 100%; 
    position: relative;
    top: 0;
}

.e31_149 { 
    color: rgba(255, 255, 255, 1);
    width: 100%; 
    position: absolute;
    text-align: center;
    font-size: 2rem;
    top: 15px; 
}

.e31_150 { 
    width: 50px;
    height: 52px;
    position: absolute;
    left: 10px;
    top: 8px;
}

.e31_152 { 
    background-color: rgba(255, 255, 255, 1);
    width: 100%; 
    height: calc(100vh - 70px); 
    position: absolute;
    top: 70px; 
}

.e67_123, .e67_122, .e67_120, .e67_128 { 
    width: 100%; 
    height: 0;
    border: 1px solid rgba(255, 255, 255, 1);
}

.e31_154 { 
    color: rgba(0, 0, 0, 1);
    width: auto;
    position: absolute;
    left: 10%; 
    top: 40%;
    font-family: Inter, sans-serif;
    font-size: 1.75rem; 
    text-decoration: none; 
}

.e45_34 { 
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 16px;
}

.e45_35 { 
    background-color: rgba(232, 234, 237, 1);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.e67_117 { 
    width: 28px;
    height: 21px;
    position: absolute;
    left: 17px;
    top: 275px;
    background-image: url(images/call_24dp_e8eaed_fill0_wght400_grad0_opsz24_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e31_153 { 
    color: rgba(0, 0, 0, 1);
    width: auto;
    position: absolute;
    left: 10%;
    top: 80px;
    font-family: Inter, sans-serif;
    font-size: 1.75rem;
}

.e31_185 { 
    width: 62px;
    height: 68px;
    position: absolute;
    left: 10px;
    top: 57px;
    background-image: url(/assets/menuzinho.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e67_125 { 
    background-color: rgba(53, 103, 232, 1); 
    width: 100%; 
    height: 133px;
    position: absolute;
    left: 0;
    top: 121px;
}

.e31_165, .e31_166, .e31_167 { 
    color: rgba(0, 0, 0, 1);
    width: auto;
    position: absolute;
    left: 15%; 
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    text-decoration: none; 
}

.e31_165 { 
    top: 128px;
}

.e31_166 { 
    top: 171px;
}

.e31_167 { 
    top: 214px;
}
