.e41_15 { 
	overflow:hidden;
}
.e41_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:1200px;
	position:absolute;
}
.e41_18 { 
	width:50px;
	height:52px;
	position:absolute;
	left:6px;
	top:8px;
}

.e41_27 { 
	border-radius:500px;
	background-color:rgba(53.040016293525696, 103.3056266605854, 232.55998492240906, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}

.e41_80 { 
	color:rgba(0, 0, 0, 1);
	width:135px;
	height:40px;
	position:absolute;
	left:112px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e67_43 { 
	color:rgba(0, 0, 0, 1);
	width:330px;
	height:24px;
	position:absolute;
	left:15px;
	top:416px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e67_95 { 
	width:360px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei67_95_41_170 { 
	background-color:rgba(53.040016293525696, 103.3056266605854, 232.55998492240906, 1);
	width:360px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei67_95_41_171 { 
	color:rgba(255, 255, 255, 1);
	width:152px;
	height:40px;
	position:absolute;
	left:108px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.ei67_95_41_172 { 
	width:50px;
	height:52px;
	position:absolute;
	left:6px;
	top:8px;
}
.ei67_95_41_173 { 
	width:45px;
	height:32px;
	position:absolute;
	left:11px;
	top:19px;
	background-image:url(images/design_sem_nome__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e75_139 { 
	color:rgba(0, 0, 0, 1);
	width:321px;
	height:448px;
	position:absolute;
	left:18px;
	top:472px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e75_143 { 
	color:rgba(0, 0, 0, 1);
	width:280px;
	height:28px;
	position:absolute;
	left:54px;
	top:360px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e77_68 { 
	width:254px;
	height:48px;
	position:absolute;
	left:53px;
	top:872px;
}
.e77_69 { 
	background-color:rgba(53.040016293525696, 103.3056266605854, 232.55998492240906, 1);
	width:254px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e77_70 { 
	color:rgba(255, 255, 255, 1);
	width:248px;
	height:40px;
	position:absolute;
	left:6px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e89_246 { 
	width:243.8870086669922px;
	height:152px;
	position:absolute;
	left:58px;
	top:134px;
	background-image:url(/assets/capitaoamerica.png);
	background-repeat:no-repeat;
	background-size:cover;
}
