.e21_431 { 
    overflow: hidden;
}

.e21_431 { 
    background-color: rgba(255, 255, 255, 1);
    width: 360px;
    height: 1400px;
    position: absolute;
}

.e51_71 { 
    background-color: rgba(53, 103, 232, 1);
    width: 360px;
    height: 2.33px;
    position: absolute;
    left: 0px;
    top: 854px;
}

.e21_434 { 
    width: 50px;
    height: 52px;
    position: absolute;
    left: 6px;
    top: 8px;
}

.e21_444 { 
    width: 48px;
    height: 48px;
    position: absolute;
    left: 280px;
    top: 296px;
}

.e21_445 { 
    border-radius: 500px;
    background-color: rgba(53, 103, 232, 1);
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e21_446 { 
    width: 24px;
    height: 24px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.ei21_446_10_164 {
    background-color: rgba(255, 255, 255, 1);
    width: 17.93px;
    height: 13.83px;
    position: absolute;
    left: 3px;
    top: 5.08px;
}

.e21_447 { 
    width: 48px;
    height: 48px;
    position: absolute;
    left: 22px;
    top: 296px;
}

.e21_448 { 
    border-radius: 500px;
    background-color: rgba(53, 103, 232, 1);
    opacity: 0.16;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e21_449 { 
    width: 24px;
    height: 24px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.ei21_449_10_162 { 
    background-color: rgba(53, 103, 232, 1);
    width: 17.93px;
    height: 13.83px;
    position: absolute;
    left: 3.07px;
    top: 5.08px;
}

.e21_452 { 
    width: 28px;
    height: 12px;
    position: absolute;
    left: 153px;
    top: 316px;
}

.e21_453 { 
    border-radius: 500px;
    background-color: rgba(53, 103, 232, 1);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e21_454 { 
    border-radius: 500px;
    background-color: rgba(215, 227, 233, 1);
    width: 8px;
    height: 8px;
    position: absolute;
    left: 20px;
    top: 2px;
}

.e29_92 { 
    color: rgba(0, 0, 0, 1);
    width: 97px;
    height: 40px;
    position: absolute;
    left: 138px;
    top: 74px;
    font-family: Inter;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.e30_94 { 
    width: 280px;
    height: 152px;
    position: absolute;
    left: 37px;
    top: 132px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.e49_48 { 
    color: rgba(0, 0, 0, 1);
    width: 285px;
    height: 24px;
    position: absolute;
    left: 37px;
    top: 360px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e49_62 { 
    color: rgba(0, 0, 0, 1);
    width: 274px;
    height: 24px;
    position: absolute;
    left: 37px;
    top: 488px;
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

.e49_61 { 
    color: rgba(0, 0, 0, 1);
    width: 282px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: 392px;
    font-family: Inter;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}

.e51_70 { 
    color: rgba(0, 0, 0, 1);
    width: 274px;
    height: 73px;
    position: absolute;
    left: 48px;
    top: 695px;
    font-family: Inter;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
}

.e51_87 { 
    color: rgba(0, 0, 0, 1);
    width: 274px;
    height: 73px;
    position: absolute;
    left: 48px;
    top: 1088px;
    font-family: Inter;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
}

.e51_73 { 
    width: 228px;
    height: 152px;
    position: absolute;
    left: 64px;
    top: 528px;
    background-image: url(/assets/bruno_marrone_universo_alegria_curitiba_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e51_88 { 
    width: 243.56px;
    height: 152px;
    position: absolute;
    left: 65px;
    top: 912px;
    background-image: url(/assets/maiara_e_maraisa_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e67_74 { 
    width: 360px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei67_74_41_170 { 
    background-color: rgba(53, 103, 232, 1);
    width: 360px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei67_74_41_171 { 
    color: rgba(255, 255, 255, 1);
    width: 152px;
    height: 40px;
    position: absolute;
    left: 108px;
    top: 6px;
    font-family: Inter;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.ei67_74_41_172 { 
    width: 50px;
    height: 52px;
    position: absolute;
    left: 6px;
    top: 8px;
}

.ei67_74_41_173 { 
    width: 45px;
    height: 32px;
    position: absolute;
    left: 11px;
    top: 19px;
    background-image: url(images/design_sem_nome__1__1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e77_64 { 
    width: 254px;
    height: 48px;
    position: absolute;
    left: 58px;
    top: 1272px;
}

.e77_55 { 
    background-color: rgba(53, 103, 232, 1);
    width: 254px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 15px;
}

.e77_56 { 
    color: rgba(255, 255, 255, 1);
    width: 248px;
    height: 40px;
    position: absolute;
    left: 6px;
    top: 8px;
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}
